header{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #222;
    color:whitesmoke;
}
a{
    color:aliceblue;
}
a:visited{
    color:lightgray;
}
a:hover, a:active{
    color:#eee;
}
table, tr, th, td, caption{
    border-collapse: collapse;
    padding: 1rem;
}